// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-image: image-url("background.jpg");
  background-size: cover;
  backdrop-filter: blur(8px);
}
